body{
  font-family: 'Raleway', sans-serif; /* Test for this*/
  margin: 0;
  padding: 0;
  font-size: 16pt; /* test for this! Make all sizes em or rem */
  background-image: url('../images/concrete_seamless.png');
}

.page{
  color: "white";

}
.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .rotate {
    animation: none;
  }
}


/* https://flaviocopes.com/rotate-image/ */

h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

p {
  padding: 30px;
  text-align: center;

}

.skipcont a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skipcont a:focus{
  top:0;
}

*:focus{
  border: 2px solid black;
}

/* footer{
  background-color: black;
  color: white;
  grid-column: 1 / -1;
  grid-row: 7 / auto;
  padding: 30px;
  text-align: center;
} */

/*
Keyframes for animation

@-webkit-keyframes logo-wiggle{
  from {
    width: 20px;
  }
  to {
    width: 419px;
  }
}

@keyframes logo-wiggle{
  from {
    width: 20px;
  }
  to {
    width: 419px;
  }
} */

/* #logo{
  -webkit-animation-name: logo-wiggle;
          animation-name: logo-wiggle;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
    height: 100px;
    width: 200px;
} */

.head{
  min-height: 150px;
  padding: 10px 50px;
}

/* @media screen and (min-width: 300px){


  .pricing{
    min-height: 500px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }

  .card {
    flex-basis: 400px;
    margin: 12px;
    background: #fff;
    border-radius: 7px;
    padding: 0 0 50px 0;
  }

  .card > header{
    background: #50C7C7;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-radius: 7px 7px 0 0;
  }

  .card > ul{
    list-style: none;
    padding: 0;
  }

  .card > ul li {
    width: 90%;
    margin: 20px auto;
  }

  .card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 12px;
    border-radius: 7px;
    background: #45ADAD;
    color: white;
    font-size: 1em;
  }

nav{ display: flex;
     justify-content: space-between;
     flex-direction: column;

}



li a:hover {
  background-color: #555;
  color: white;
}
  .card h3{
    font-size: 4em;
    color: white;
    text-align: center;
  }

  .card--big{
    -webkit-transform: initial;
            transform: initial;
  }




  .navi{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    background: #fff;
    border-bottom: 3px solid #50C7C7;
  }

  .nav-links{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    list-style: none;
  }

.form{
  text-align: center;
}
  .nav-item a{
    color: white;
    text-decoration: none;
  }

  .nav-item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

} */


@media screen and (min-width: 300px){
/* This is saying to change teh screen display when the width is greater than 850px */


/* need one more width media query */
  /* Cards! */
.footer{
  justify-content: center;
  text-align: center;
}
nav { text-align: center;
  /* display: block; */
       /* width: 100%; */
       /* justify-content: space-between; */
       /* flex-direction: column; */

  }

  /* ul {
    list-style-type: none;

  } */
  .pricing{
    min-height: 500px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }

  .card {
    flex-basis: 250px;
    margin: 12px;
    background: #fff;
    border-radius: 7px;
    padding: 0 0 50px 0;
  }

  .card > header{
    background: #50C7C7;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-radius: 7px 7px 0 0;
  }

  .card > ul{
    list-style: none;
    padding: 0
  }

  .card > ul li {
    width: 90%;
    margin: 20px auto;
  }



  .card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 12px;
    border-radius: 7px;
    background: #45ADAD;
    color: white;
    font-size: 1em;
  }

body {
  background-color: black;
      color: white;}
#Banner{
  width:100%;
  height: auto;
}
  .card h3{
    font-size: 4em;
    color: white;
    text-align: center;
  }

  .card--big{
    -webkit-transform: scaleX(1.12);
            transform: scaleX(1.12);
  }

  /* Navbar */

  /* .navi{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    background: #fff;
    border-bottom: 3px solid #50C7C7;
  } */

  /* .nav-links{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    list-style: none;
  } */

  .nav-item a{
    /* padding: 50px; */
    color: white;
    text-decoration: none;
  }

  /* .nav-item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  } */

/* Chaning the container for the media query!!! */
  .ux-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*  saying devide this page into two fracgtionsd*/
    grid-template-rows: repeat(4, 1fr);
  }

  #nike {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .nikeText {
    grid-column: 2/3;
    grid-row: 1/2;
  }

}

@media print { /* Intentionaly short so easy to check manually */
  img{
    display: none;
  }

  .navi{
    display: none;
  }

}
.nav-links{
  background-color: #96DEFB;
  font-weight: bold;
  font-size: 30px;
}
/* #container div{
  min-width: 300px;
  max-width: 600px;
  border: 1px solid black;
} */

.container{

  display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      justify-content: center;
      grid-row-gap: 50px;
      /* justify-content: space-between; */
    }



}
  /*Your code here
.
  /*Provided*/
  /* grid-template-rows: 30px auto auto auto auto auto 100px;
  width: 100vw; */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;


  }
.mythedology{
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 200px;
  height: 200px;


}

.projects{
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 100%;
  height: 250px;


}
  #email2{
      grid-column: 1/2;
      width: 33%;
      hover: grey;
      margin-left: auto;
      margin-right: auto;


    }

  #linkedin{
      grid-column: 2/3;
      width: 33%;
      hover: grey;
      margin-left: auto;
      margin-right: auto;

    }

  #instagram{
      grid-column: 3/4;
      width: 33%;
      margin-left: auto;
      margin-right: auto;

  }


#flyer{
    grid-column: 1/2;
    width: 33%;
    hover: grey;
    margin-left: auto;
    margin-right: auto;


  }

#brochure{
    grid-column: 2/3;
    width: 33%;
    hover: grey;
    margin-left: auto;
    margin-right: auto;
  }

#wireframe{
    grid-column: 3/4;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

#code{
    grid-column: 1/2;
    width: 33%;
    hover: grey;
    margin-left: auto;
    margin-right: auto;

  }

#website{
      grid-column: 2/3;
      width: 33%;
      hover: grey;
      margin-left: auto;
      margin-right: auto;
    }

#publication{
        grid-column: 3/4;
        width: 33%;
        margin-left: auto;
        margin-right: auto;


    }

#logo{
            grid-column: 1/2;
            width: 33%;
            margin-left: auto;
            margin-right: auto;

        }

#sketch{
                    grid-column: 2/3;
                    width: 33%;
                    margin-left: auto;
                    margin-right: auto;
                }

#resume{
                        grid-column: 3/4;
                        width: 33%;
                        margin-left: auto;
                        margin-right: auto;



                    }
img:hover {
  background-color: grey;
}

/* #nike{
            grid-column: 1/2;



        }

#nikeText{
  grid-column: 2/3;
} */


nav{
  color: "blue";
  /* color: "red"; */
}


#sketching{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;


}

#design{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;


}

#render{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;


}
/* .grid-container {
  display: grid;
} */

.foot{
    width: 100%;
    text-align: center;
      /* grid-row: 3/4; */
}
#design{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.page{
  color: "white";

}
/*
/* #laptop1{
  grid-column: 2/3; */
  /* The 1/-1 means you want this element to span the entire width */
  /* grid-row: 3/4; */
  /*Your code here

} */

/* #flyer{
  grid-column: 1/2;
  width: 33%;
} */
/* #brochure{
  grid-column: 2/3;
  width: 33%;
}
#wireframe{
  grid-column: 3/3;
  width: 33%;
}
#render{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
} */

/* #handout{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
} */

/* #flyer{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
} */

/* #website{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
} */
